/*弹框样式修改  --start-- */
.el-dialog__header {
  padding: 16px 20px 10px;
  background-color: #E8E8E8;
  -webkit-border-radius: 8px 8px 0 0 !important;
  -moz-border-radius: 8px 8px 0 0 !important;
  -ms-border-radius: 8px 8px 0 0 !important;
  border-radius: 8px 8px 0 0 !important;
}
.el-dialog {
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  border-radius: 8px !important;
}
.el-dialog__headerbtn:hover .el-dialog__close{
  color: #5A8BFF;
}
.el-dialog__body{
  padding: 20px !important;
}
/* 弹框样式修改  --end-- */

/* 按钮模拟点击效果  --start-- */
.el-button:active {
  transform: scale(0.95);
}
/*按钮模拟点击效果  --end-- */

/*内容不可选中，复制  --start-- */
* {
  /* Chrome all / Safari all /opera15+*/
  -webkit-user-select: none;
  /* Firefox all */
  -moz-user-select: none;
  /* IE 10+ */
  -ms-user-select: none;
  /* 通用 */
  user-select: none;
}
/*内容不可选中，复制  --end-- */


