<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.sms.dao.Timetable.TimetableMapper" >
    <resultMap id="BaseUserMap" type="com.zjh.sms.dto.Timetable" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="week_id" property="weekId" jdbcType="INTEGER" />
        <result column="profession" property="profession" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="VARCHAR" />
        <result column="year" property="year" jdbcType="INTEGER" />
        <result column="term" property="term" jdbcType="INTEGER" />
    </resultMap>
    <insert id="add" parameterType="com.zjh.sms.dto.Timetable">
        INSERT INTO timetable
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="weekId != null and weekId != ''">week_id,</if>
            <if test="profession != null and profession != ''">profession,</if>
            <if test="grade != null and grade != ''">grade,</if>
            <if test="year != null and year != ''">year,</if>
            <if test="term != null and term != ''">term,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="weekId != null and weekId != ''">#{weekId},</if>
            <if test="profession != null and profession != ''">#{profession},</if>
            <if test="grade != null and grade != ''">#{grade},</if>
            <if test="year != null and year != ''">#{year},</if>
            <if test="term != null and term != ''">#{term},</if>
        </trim>
    </insert>

    <select id="getTimetable" resultMap="BaseUserMap" parameterType="map">
        SELECT
            *
        FROM timetable
        <where>
            <if test="condition.profession != null and condition.profession != ''">
                profession = #{condition.profession}
            </if>
            <if test="condition.grade != null and condition.grade != ''">
                AND grade = #{condition.grade}
            </if>
            <if test="condition.year != null and condition.year != ''">
                AND year = #{condition.year}
            </if>
            <if test="condition.term != null and condition.term != ''">
                AND term = #{condition.term}
            </if>
        </where>
    </select>
    <delete id="deleteTimeTable" parameterType="map">
        DELETE FROM
            timetable
        <where>
            <if test="condition.profession != null and condition.profession != ''">
                profession = #{condition.profession}
            </if>
            <if test="condition.grade != null and condition.grade != ''">
                AND grade = #{condition.grade}
            </if>
        </where>
    </delete>
    <select id="checkCount" resultType="int" parameterType="map">
        select count(0) from timetable
        <where>
            <if test="condition.profession != null and condition.profession != ''">
                profession = #{condition.profession}
            </if>
            <if test="condition.grade != null and condition.grade != ''">
                AND grade = #{condition.grade}
            </if>
            <if test="condition.year != null and condition.year != ''">
                AND year = #{condition.year}
            </if>
            <if test="condition.term != null and condition.term != ''">
                AND term = #{condition.term}
            </if>
        </where>
    </select>
</mapper>

