<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.sms.dao.TeacherCourse.TeacherCourseMapper" >
    <resultMap id="BaseUserMap" type="com.zjh.sms.domain.TeacherCourse" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
        <result column="course_id" property="courseId" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="profession" property="profession" jdbcType="VARCHAR" />
        <result column="grade" property="grade" jdbcType="VARCHAR" />
        <result column="term" property="term" jdbcType="INTEGER" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="real_name" property="realName" jdbcType="INTEGER" />
        <result column="credits" property="credits" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="start" property="start" jdbcType="INTEGER" />
        <result column="end" property="end" jdbcType="INTEGER" />
        <result column="room" property="room" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="add" parameterType="com.zjh.sms.domain.TeacherCourse">
        INSERT INTO teacher_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null and teacherId != ''">teacher_id,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="profession != null and profession != ''">profession,</if>
            <if test="grade != null and grade != ''">grade,</if>
            <if test="term != null and term != ''">term,</if>
            <if test="courseId != null and courseId != ''">course_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId != null and teacherId != ''">#{teacherId},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="profession != null and profession != ''">#{profession},</if>
            <if test="grade != null and grade != ''">#{grade},</if>
            <if test="term != null and term != ''">#{term},</if>
            <if test="courseId != null and courseId != ''">#{courseId},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="map">
        DELETE FROM
        teacher_course
        <where>
            id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </delete>
    <update id="update" parameterType="com.zjh.sms.domain.TeacherCourse">
        UPDATE teacher_course
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="teacherId != null and teacherId != ''">
                teacher_id = #{teacherId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="profession != null and profession != ''">
                profession = #{profession},
            </if>
            <if test="grade != null and grade != ''">
                grade = #{grade},
            </if>
            <if test="term != null and term != ''">
                term = #{term},
            </if>
        </trim>
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
        </where>
    </update>

    <select id="getCourseListById" parameterType="string" resultMap="BaseUserMap">
        SELECT
            *
        FROM teacher_course
        <where>
            teacher_id  = #{id}
        </where>
    </select>
    <select id="getGradeInfoByMap" parameterType="string" resultMap="BaseUserMap">
        SELECT
            name,
            grade
        FROM teacher_course
        <where>
            <if test="condition.profession != null and condition.profession != ''">
                AND profession = #{condition.profession}
            </if>
            <if test="condition.teacherId != null and condition.teacherId != ''">
                AND teacher_id = #{condition.teacherId}
            </if>
        </where>
    </select>

    <select id="getTeacherId" parameterType="map" resultType="string">
        SELECT
            teacher_id
        FROM teacher_course
        <where>
            <if test="condition.profession != null and condition.profession != ''">
                AND profession = #{condition.profession}
            </if>
            <if test="condition.grade != null and condition.grade != ''">
                AND grade = #{condition.grade}
            </if>
            <if test="condition.course != null and condition.course != ''">
                AND name = #{condition.course}
            </if>
        </where>
    </select>
    <select id="getCourseInfo" parameterType="map" resultMap="BaseUserMap">
        SELECT
            a.*,
            b.number,
            b.credits,
            b.type,
            c.real_name,
            d.start,
            d.end,
            d.room
        FROM teacher_course a
        left join course b
        on a.course_id = b.id
        left join teacher c
        on a.teacher_id = c.id
        left join course_info d
        on b.id = d.course_id
        <where>
            <if test="condition.profession != null and condition.profession != ''">
                AND a.profession = #{condition.profession}
            </if>
            <if test="condition.grade != null and condition.grade != ''">
                AND a.grade = #{condition.grade}
            </if>
            <if test="condition.courseName != null and condition.courseName != ''">
                AND a.name = #{condition.courseName}
            </if>
            <if test="condition.teacherId != null and condition.teacherId != ''">
                AND a.teacher_id = #{condition.teacherId}
            </if>
        </where>
    </select>

</mapper>

