<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.sms.dao.User.UserMapper" >
    <resultMap id="BaseUserMap" type="com.zjh.sms.dto.User" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="school" property="school" jdbcType="VARCHAR" />
        <result column="admission_time" property="admissionTime" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="profession" property="profession" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="INTEGER" />
    </resultMap>

    <select id="getStudentInfo" resultMap="BaseUserMap" parameterType="map">
        SELECT
            *
        FROM student
        <where>
            username = #{condition.username}
            AND password = #{condition.password}
        </where>
    </select>
    <select id="getTeacherInfo" resultMap="BaseUserMap" parameterType="map">
        SELECT
        *
        FROM teacher
        <where>
            username = #{condition.username}
            AND password = #{condition.password}
        </where>
    </select>
    <select id="getAdminInfo" resultMap="BaseUserMap" parameterType="map">
        SELECT
        *
        FROM admin
        <where>
            username = #{condition.username}
            AND password = #{condition.password}
        </where>
    </select>
    <update id="update" parameterType="map">
        UPDATE ${condition.table}
        <trim prefix="set" suffixOverrides=",">
            <if test="condition.passwordAgain != null and condition.passwordAgain != ''">
                password = #{condition.passwordAgain},
            </if>
        </trim>
        <where>
            <if test="condition.password != null and condition.password != ''">
                password = #{condition.password}
            </if>
            <if test="condition.username != null and condition.username != ''">
                AND username = #{condition.username}
            </if>
        </where>
    </update>
    <select id="checkPasswordCount" resultType="int" parameterType="map">
        select count(0) from ${condition.table} where password = #{condition.password} AND username = #{condition.username}
    </select>
    <select id="getSilent" resultType="int">
        select state from silent
    </select>
    <update id="setSilent" parameterType="int">
        UPDATE silent
        <trim prefix="set" suffixOverrides=",">
            <if test="state != null">
                state = #{state},
            </if>
        </trim>
    </update>
</mapper>
