<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjh.student_mis.dao.mysql.UserMapper" >
    <resultMap id="BaseUserMap" type="com.zjh.student_mis.dto.User" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="realname" property="realname" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="INTEGER" />
    </resultMap>

    <select id="getUserInfo" resultMap="BaseUserMap" parameterType="map">
        SELECT
            username,
            password,
            realname,
            level
        FROM user
        <where>
            username = #{condition.username}
            AND password = #{condition.password}
        </where>
    </select>
</mapper>
